* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0 auto;
}

// Global rules for links

a {
  text-decoration: none;
  color: $text-color;
  transition: color 1s ease;
}

a:hover {
  color: $darker-colorful-element-color;
  text-decoration: underline;
}

a:visited {
  color: none;
}

// header

header {
  padding-top: 2em;
  font-family: $normal-font;
  background-color: whitesmoke;

  div.container {
    margin: 0 auto;
    width: min(90%, 1000px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-logo {
      width: 5em;
      height: auto;
    }

    .main-logo:hover {
      fill: pink;
    }

    // navigation

    .mobile-nav-toggle {
      display: none;
    }

    // Media query dealing with the whole responsive nav menu

    @media (max-width: 40em) {
      .primary-navigation {
        display: none;
        position: fixed;
        inset: 7rem 3rem auto;
        background: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 0 0.3em rgb(0, 0, 0, 0.25), 0 0 0 1000vmax rgb(0 0 0 / 0.5);

        ul.nav-list {
          text-align: center;
          display: grid;
          gap: 2em;
        }

      }

      .primary-navigation[data-visible] {
        display: block;
        position: fixed;
      }

      .mobile-nav-toggle[aria-expanded="false"] {
        background-image: url('../images/Hamburger_icon.svg');
        background-size: contain;
        background-position: center;
      }

      .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        width: 2.5em;
        aspect-ratio: 1;
      }

      .mobile-nav-toggle .icon-close {
        display: none;
      }

      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/Hamburger_icon_close.svg");
        background-size: contain;
        background-position: center;
      }

      .opened {
        display: block;
        position: fixed;
      }

    }

    .nav-list {
      display: flex;

      li {
        padding-inline: 2em;
      }

    }

  }

}

//
// Rules that apply to the footer
//
// The footer has been organized in two elements: a main footer that holds most the information
// and a second, sub-footer that includes copyright and authorship info. 

footer {
  background-color: $secondary-contrast-color;
  font-family: $normal-font;
  font-size: .9em;
  padding-block: 2em;

  ul * {
    list-style-type: none;
  }

  li * {
    margin-left: -1em;
  }

  svg:hover * {
    fill: $darker-colorful-element-color;
    transition: fill 1s ease;
  }

  div.main-footer {
    display: flex;
    justify-content: space-around;
    width: min(90%, 1000px);
    padding-top: 1em;
    margin: 0 auto;

    // p.column-title {
    //   border-bottom: solid 1px $darker-eggplant;
    // }

    div.left-side-footer {
      padding-inline: .5em;

      button {
        width: min(110%, 142px);
        margin: 0 auto;
        cursor: pointer;
        border: none;
        font-family: $normal-font;
        font-size: 0.8em;
        box-shadow: none;
        font-weight: bold;
        border-radius: 6px;
        padding: .75em .5em;
      }

      div.mobile-app-info {
        padding-block: 1em;

        p {
          text-align: center;
        }

        div.mobile-app-logos {
          display: flex;
          justify-content: space-evenly;
          height: 3em;

          svg {
            width: 1.8em;
            cursor: pointer;
          }

          svg.play-store {
            padding-top: .25em;
          }

        }

      }

    }

    div.right-side-footer {

      .column-title {
        font-weight: bold;
      }

      .phone-number {
        padding-top: 0.75em;
      }

    }

  }

  div.sub-footer {
    display: flex;
    justify-content: space-between;
    width: min(90%, 1000px);
    border-top: solid 1px $text-color;
    margin: 2em auto 0;
    padding-block: .75em;

    .main-logo {
      width: 5em;
      height: auto;
    }

    div.pages-in-footer {
      display: flex;
      align-items: center;

      p {
        padding-right: 2em;
      }

      ul {
        display: flex;

        li {
          padding-right: 1.35em;
          white-space: nowrap;
        }

        li:not(:last-child)::after {
          content: " |";
        }
      }
    }

    div.social-media-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      svg {
        cursor: pointer;
        margin: 0 0.5em;
        width: 1.5em;
      }

    }

  }

}