* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0 auto;
}

// Global rules for links

a {
  text-decoration: none;
  color: $text-color;
  transition: color 1s ease;
}

a:hover {
  color: $darker-colorful-element-color;
  text-decoration: underline;
}

a:visited {
  color: none;
}

// header



header {
  padding-top: 2em;
  font-family: $normal-font;
  background-color: whitesmoke;

  div.container {
    margin: 0 auto;
    width: min(90%, 1000px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-logo {
      width: 5em;
      height: auto;
    }

    .main-logo:hover {
      fill: pink;
    }

    // navigation

    .mobile-nav-toggle {
      display: none;
    }

    // Media query dealing with the whole responsive nav menu

    @media (max-width: 40em) {
      .primary-navigation {
        display: none;
        position: fixed;
        inset: 7rem 3rem auto;
        background: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 0 0.3em rgb(0, 0, 0, 0.25), 0 0 0 1000vmax rgb(0 0 0 / 0.5);

        ul.nav-list {
          text-align: center;
          display: grid;
          gap: 2em;
        }

      }

      .primary-navigation[data-visible] {
        display: block;
        position: fixed;
      }

      .mobile-nav-toggle[aria-expanded="false"] {
        background-image: url('../images/Hamburger_icon.svg');
        background-size: contain;
        background-position: center;
      }

      .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        width: 2.5em;
        aspect-ratio: 1;
      }

      .mobile-nav-toggle .icon-close {
        display: none;
      }

      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/Hamburger_icon_close.svg");
        background-size: contain;
        background-position: center;
      }

      .opened {
        display: block;
        position: fixed;
      }

    }

    .nav-list {
      display: flex;

      li {
        padding-inline: 2em;
      }

    }

  }

}