<header class="primary-header">
    <div class="container">
        <a href="">
            <img class="main-logo" src="./assets/images/main logo.svg" alt="Main logo of the website">
        </a>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <!-- <img class="icon-hamburger" src="./assets/images/Hamburger_icon.svg" aria-hidden="true" alt="">
            <img class="icon-close" src="./assets/images/Hamburger_icon_close.svg" aria-hidden="true" alt=""> -->
            <span class="visually-hidden">Menu</span>
        </button>
        <nav class="primary-navigation" id="primary-navigation">
            <ul class="nav-list" role="list">
                <li><a href="">Members</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>